#preload-1 { width: 0; height: 0; background: url(../img/input-blue-tall.png); }
#preload-2 { width: 0; height: 0; background: url(../img/button-blue-tall.png); }

h1 {
    margin-top: 150px;
}

#container {
    text-align: center;
}

form {
    width: 550px;
    margin: 0 auto;
}

input {
    width: 400px;
    font-size: 20pt;
    height: 40px;
    border: 3px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 6px;
    float: left;
    border: 3px solid #dddddd;
}

input:hover,input:focus,input.nonempty {
    border: 3px solid #2dacf8;
    background: url(../img/input-blue-tall.png);
    outline: none;
}

button {
    font-size: 20pt;
    float: left;
    width: 80px;
    height: 58px;
    margin: 5px;
    color: #bbb;
    font-weight: bold;
    border: 3px solid #dddddd;
    border-radius: 5px;
    background: url("../img/button-lightsilver-tall.png") repeat-x;
}

button:hover,button:focus,button.nonempty {
    color: black;
    border: 3px solid #0088cb;
    background: url(../img/button-blue-tall.png);
    outline: none;
}

#error {
    text-align: left;
    width: 600px;
    height: 162px;
    position: relative;
    top: -10px;
    left: 100px;
    clear: both;
    background: url(../img/error.png) no-repeat;
}

#error .label {
    font-size: 23pt;
    padding: 52px 0 2px 30px;
}

#error .message {
    font-size: 19pt;
    color: #fdeeee;
    padding: 0 0 15px 30px;
}
