#preload-1 { width: 0; height: 0; background: url(../img/input-blue-tall.png); }
#preload-2 { width: 0; height: 0; background: url(../img/button-blue-tall.png); }

h1 {
    margin-top: 150px;
}

#container {
    text-align: center;
}

#accesscode-form {
    margin: 0 auto;
    width: 525px;
}

#accesscode-form input[name="accesscode"] {
    width: 400px;
    height: 44px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 6px;
    border: 3px solid #dddddd;
    font-size: 24pt;
}

#accesscode-form input[name="accesscode"]:hover,
#accesscode-form input[name="accesscode"]:focus,
#accesscode-form input[name="accesscode"].active {
    border: 3px solid #2dacf8;
    background: url(../img/input-blue-tall.png);
    outline: none;
}

#accesscode-form button[type="submit"] {
    display: block;
    float: right;
    width: 80px;
    height: 62px;
    font-size: 20pt;
    color: #bbb;
    border: 3px solid #dddddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: url("../img/button-lightsilver-tall.png") repeat-x;
}

#accesscode-form button[type="submit"].active {
    color: black;
    border: 3px solid #0088cb;
    background: url(../img/button-blue-tall.png);
    outline: none;
}

#error {
    width: 600px;
    height: 162px;
    margin: -8px auto 0 auto;
    text-align: left;
    background: url(../img/error.png) no-repeat;
    position: relative;
}

#error .label {
    font-size: 23pt;
    padding: 52px 0 2px 30px;
}

#error .message {
    font-size: 19pt;
    color: #fdeeee;
    padding: 0 0 15px 30px;
}

