body {
    font-family: 'Istok Web', helvetica, 'Nimbus Sans', Arial, sans-serif;
    font-size: 12pt;
    text-align: center;
}

#container {
    margin: 0 auto;
    text-align: left;
    width: 850px;
}

h1 {
    font-size: 28pt;
    margin-top: 40px;
    margin-bottom: 5%;
}

h1 span {
    font-size: 22pt;
    font-family: helvetica, 'Nimbus Sans', Arial, sans-serif;
    font-weight: normal;
    color: #888a85;
}

input {
    font-size: inherit;
}

button {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: inherit;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    font-family: helvetica, "Nimbus Sans", Arial, sans-serif;
    border: 1px solid rgba(0,0,0,0.2);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
    color: silver;
    background-repeat: repeat-x;
    background-image: url("../img/button-lightsilver.png");
}

button:hover,button:focus {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

button::-moz-focus-inner {
    border: none;
}

:invalid {  
    box-shadow: none;  
}  
      
:-moz-submit-invalid {  
    box-shadow: none;  
}  
      
:-moz-ui-invalid {  
    box-shadow:none;  
}  
