/*@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic);*/

#preload-1 { width: 0; height: 0; background: url(../img/button-lightblue.png); }
#preload-2 { width: 0; height: 0; background: url(../img/button-lightred.png); }
#preload-3 { width: 0; height: 0; background: url(../img/box-selected.png); }
#preload-4 { width: 0; height: 0; background: url(../img/button-green.png); }
#preload-5 { width: 0; height: 0; background: url(../img/button-watch-submit-active.png); }
#preload-6 { width: 0; height: 0; background: url(../img/button-watcher-delete-active.png); }

body {
    text-align: center;
    margin: 5% 0;
}

#container {
    margin: 0 auto;
    text-align: left;
    width: 820px;
    padding: 0 20px;
}

#controls {
    float: right;
    margin: 12px 0;
}

form[action="logout/"] {
    float: right;
    margin: 0 0 0 10px;
}

form[action="logout/"] button:hover,
form[action="logout/"] button:focus {
    background-image: url("../img/button-lightblue.png");
    color: #003366;
}

#watchbtn {
    float: right;
}

#watchbtn:hover,#watchbtn:focus,#watchbtn.active {
    color: #015a01;
    background-image: url("../img/button-green.png");
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

#watch-dialog {
    position: absolute;
    right: 0;
    top: 34px;
    z-index: 100;
    width: 255px;
    font-size: 12pt;
}

#watch-dialog .top {
    background: url("../img/watch-dialog-top.png") no-repeat center top;
    height: 16px;
    width: 100%;
    margin-bottom: -1px;
    z-index: 40;
    position: relative;
}

#watch-dialog .dialog {
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    position: absolute;
    font-size: 10pt;
    box-shadow: 1px 1px 0 black;
    -moz-box-shadow: 1px 1px 0 black;
    -webkit-box-shadow: 1px 1px 0 black;
    -o-box-shadow: 1px 1px 0 black;
    border-radius: 1px;
    z-index: 20;
}

#watch-dialog .new {
    padding: 10px 8px;
    background: #f8f8f8;
}

#watch-dialog .new button[type="submit"] {
    display: block;
    width: 25px;
    height: 23px;
    position: relative;
    float: right;
    border-radius: 3px;
    background: url("../img/button-watch-submit.png") no-repeat center center;
}

#watch-dialog .new button[type="submit"].active {
    background: url("../img/button-watch-submit-active.png") no-repeat center center;
    border: 1px solid #0088cb;
}

#watch-dialog .new input[name="email"] {
    display: block;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    width: 198px;
    height: 20px;
    padding: 2px 5px 0px 5px;
    background-repeat: repeat-x;
    font-family: inherit;
    font-size: inherit;
    box-shadow: none;
}

#watch-dialog .new input[name="email"]:focus {
    outline: none;
}

#watch-dialog .new input[name="email"]:disabled {
    background: #eee;
}

#watch-error {
    background: #f85050;
    height: 20px;
    padding: 10px 15px;
}

#watch-error a {
    
}

#watch-error .details {
    float: right;
}

#watch-dialog .watcher {
    padding: 10px 10px 10px 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#watch-dialog .watcher:hover .deletebtn {
    background: url("../img/button-watcher-delete-active.png") no-repeat center center;
}

#watch-dialog .watcher .email {
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
}

#watch-dialog .deletebtn {
    float: right;
    display: block;
    border: none;
    background: url("../img/button-watcher-delete.png") no-repeat center center;
    width: 12px;
    height: 20px;
}

#watch-dialog .deletebtn:hover,
#watch-dialog .deletebtn:focus
{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
}

#dropbox {
    position: relative;
    background: #dcf1fe;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    color: #7da0a1;
    text-align: center;
    font-size: 18pt;
    font-family: helvetica, 'Nimbus Sans', Arial, sans-serif;
    line-height: 100px;
    -moz-transition: background 0.2s;
    -o-transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -ms-transition:  background 0.2s;
    transition: background 0.2s;
    margin-bottom: 25px;
}

#dropbox:hover {
    background: #c0e6fd;
    -moz-transition: background 0.2s;
    -o-transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -ms-transition:  background 0.2s;
    transition: background 0.2s;
}

#dropbox-file {
    visibility: hidden;
    position: absolute;
    left: 250px;
    top: 0px;
}

.box {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 80px;
    width: 780px;
    padding: 18px 20px;
    margin: 10px auto;
    border: 1px solid transparent;
    background: url(../img/box.png) center center no-repeat;
}

.item.stale .box {
    cursor: default;   
}

.item .desc { display: none; }
.item .size { display: none; }
.item .deletebtn { display: none; }
.item .buttons { display: none; }
.item .progress_container { display: none; }
.item .progressbar { display: none; }
.item .progressbar_alt { display: none; }

.item.complete .desc { display: block; }
.item.complete .size { display: block; }
.item.complete .deletebtn { display: block; }

.item.pending .buttons { display: block; }
.item.pending .progress_container { display: block; }
.item.pending .progressbar { display: block; }

.item.unfinished .progress_container { display: block; }
.item.unfinished .progressbar { display: block; }

.item.stale .deletebtn { display: block; }
.item.stale .progress_container { display: block; }
.item.stale .progressbar { display: block; }

.box:hover,.box:focus,.item.selected .box,.unfinished-item.selected .box,.foreign-item.selected .box {
    background: url(../img/box-selected.png) center center no-repeat;
}

.box .name {
    font-size: 18pt;
    margin-top: 5px;
    margin-left: 85px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 150%;
}

.item .name {
    width: 550px;
}

.item.pending .name,.item.stale .name {
    width: 400px;
}

.item.unfinished .name {
    width: 480px;
}

.item .progress_container {
    float: right;
    width: 180px;
    height: 100px;
    text-align: right;
}

.item .progress {
    color: #555753;
    font-size: 26pt;
    line-height: 150%;
}

.item.pending .progressbar,.item.stale .progressbar {
    width: 400px;
    height: 25px;
    margin-left: 90px;
    margin-top: 10px;
}

.item.unfinished .progressbar {
    width: 480px;
    height: 25px;
    margin-left: 90px;
    margin-top: 15px;
}

.item .progress_size,.item .progress_size {
    font-size: 14pt;
    color: #555753;
    line-height: 120%;
}

.item .buttons {
    width: 100px;
    height: 100px;
    float: right;
    text-align: right;
}

.item .pause {
    width: 90px;
    margin: 4px 0;
}

.item .pause:hover,.item .pause:focus {
    border: 1px solid #0088cb;
    background: url(../img/button-blue.png);
}

.item .cancelbtn {
    margin: 4px 0;
}

.item {
    display: block;
    color: inherit;
    text-decoration: inherit;
}

.item .desc {
    font-size: 12pt;
    margin-left: 85px;
    color: #555753;
    line-height: 120%;
}

.item .size {
    font-size: 20pt;
    color: #555753;
    float: right;
    line-height: 150%;
}

.item .deletebtn {
    float: right;
    clear: right;
    margin-top: 6px;
}

.item.stale .deletebtn {
    margin-left: 20px;
}

.box:hover .deletebtn,.box:focus .deletebtn,
.box:hover .cancelbtn,.box:focus .cancelbtn {
    background-image: url("../img/button-lightred.png");
    color: #980101;
}

.error,.info {
    width: 770px;
    height: 62px;
    margin-left: -10px;
    background-repeat: no-repeat;
    background-position: 4px center;
    position: relative;
    top: -20px;
    padding: 44px 35px 44px 35px;
}

.error { color: black; background-image: url(../img/error-wide.png); }
.info { color: #002b3d; background-image: url(../img/info-wide.png); }

.error_label,.info_label {
    font-size: 22pt;
    margin-bottom: 4px;
    line-height: 150%;
}

.error_message,.info_message {
    font-size: 18pt;
    line-height: 140%;
}

.error_message { color: #fdeeee; }
.info_message { color: #339900; }

.error_message a,.info_message a {
    color: inherit;
}

.error_close,.error_close:hover,.error_close:focus,
.info_close,.info_close:hover,.info_close:focus {
    float: right;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    width: 35px;
    height: 35px;
    padding: 0;
    margin-right: -14px;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
}

.error_close,.error_close:hover,.error_close:focus {
    background-image: url(../img/error-close.png);
}

.info_close,.info_close:hover,.info_close:focus {
    background-image: url(../img/info-close.png);
}

.error_details {
    position: absolute;
    bottom: 26px;
    right: 35px;
    color: white;
    font-size: 14pt;
}

.info_yes {
    float: right;
}

.info_no {
    float: right;
    margin-right: 8px;
}

.info_yes,.info_no,.info_yes:hover,.info_no:hover {
    background-image: url("../img/button-lightgreen.png");
    color: rgba(0, 0, 0, 0.8);
}

.info_yes:hover,.info_no:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}
