{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>Fileshack</title>
        <link rel="stylesheet" type="text/css" href="{% static "fileshack/css/fileshack.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "fileshack/css/accesscode.css" %}" />
        <script type="text/javascript" src="{% static "fileshack/js/mootools.js" %}"></script>
        <script type="text/javascript" src="{% static "fileshack/js/mootools-more.js" %}"></script>
        <script type="text/javascript" src="{% static "fileshack/js/accesscode.js" %}"></script>
    </head>
    <body>
        <div id="container">
            <h1>{% trans "Welcome to fileshack," %} <span>{% trans "enter the access code" %}</span></h1>
            <form method="post">
                {% csrf_token %}
                <input id="accesscode" type="password" name="accesscode" value="{{ accesscode|escape }}" />
                <button id="ok" type="submit">{% trans "OK" %}</button>
            </form>
            {% if error_label %}
                <div id="error"><div class="label">{{ error_label }}</div><div class="message">{{ error_message }}</div></div>
            {% endif %}
        </div>
	<div id="preload-1"></div>
	<div id="preload-2"></div>
    </body>
</html>
