<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Fileshack, drop your items</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/css/base.css" />
		<script type="text/javascript" src="/js/mootools.js"></script>
		<script type="text/javascript" src="/js/mootools-more.js"></script>
		<script type="text/javascript" src="/js/base.js"></script>
	</head>
	<body>
		<header>
			<a href="/">
				<hgroup>
					<h1>fileshack</h1>
					<h2>drop your items</h2>
				</hgroup>
			</a>
			<div id="label">fileshack allows you to create your own simple, hosted web file storage</div>
		</header>
		<div id="content">
{{content}}
		</div>
		<footer>
			<form id="subscribe" action="https://sourceforge.net/projects/fileshack/lists/fileshack-general">
				<span>Join the mailing list</span>
				<input type="email" name="email" placeholder="me@example.org" spellcheck="false" required="required" />
				<button>Subscribe</button>
			</form>
			<a id="github" href="https://github.com/peterkuma/fileshackproject"><img src="/img/github.png" height="70" alt="github" /></a>
			<div id="credits">
				Copyright &copy; 2012–2023 <a href="https://peterkuma.net">Peter Kuma</a> and contributors.
			</div>
		</footer>
		<div id="preload-1"></div>
	</body>
</html>

